.album {

    @include md {
        margin-bottom: 2rem;
    }

    &__name {
        color: $white;
        font-size: 1.3rem;
        letter-spacing: 1px;
        margin-bottom: 3rem;

        @include md {
            margin-bottom: 1.5rem;
        }
    }
}

.song { 
    width: 100%;
    padding: 1.5rem 0;
    border-top: 1px solid $grey;

    @include md {
        padding: 1rem 0;
    }

    &__name {
        color: $yellow;
        font-weight: bold;
        font-size: 1.2rem;
    }

    &__duration {
        color: $grey;
        font-size: .8rem;
    }
}