.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 1.2rem 0;
    position: relative;

    @include md {
        flex-direction: column;
        align-items: flex-start;
    }


    &__links {
        display: flex;

        @include md {
            display: none;
            flex-direction: column;
        }

    }

    &__link {
        color: $grey;
        letter-spacing: 2px;
        transition: color .5s;
        position: relative;

        &:hover {
            color: $white;
        }

        &::after {
            content: '';
            position: absolute;
            height: 3px;
            width: 0;
            background: $white;
            left: 0;
            bottom: -6px;
            transition: .5s;
        }

        &:hover::after {
            width: 100%;
        }

        &--active {
            color: $white;

            &::after {
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            background: $white;
            left: 0;
            bottom: -6px;
            }
        }
    }

    &__item {
        margin-left: 1.2rem;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 700;
        color: $grey;
        position: relative;

        @include md {
            text-align: left;
            margin-top: 1.5rem;
        }

    }
}

.logo {
    color: $white;
    font-size: .9rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;

}

.active {
    display: flex;
}